h1{
color: blue;
background-color: black;

}
html{
    background-color: black;
}
button{
 
    border: 1 px solid #700;
    padding: 15px;
    color: #fff;
    background: #700;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 20px;

}
button :hover{
 
    border: 1 px solid #700;
    padding: 15px;
    color: #700;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s;
    font-size: 20px;

}